# Ignore everything...
*

# ...except these
!.gitignore
!first_use.py
!README.md
!tokenize.py
!show_tokens.py
!db_agent.py
!.vscode/
!.vscode/launch.json
!agent_sql/
!agent_sql/agent.py
!agent_sql/db.py
!agent_sql/tools.py
!agent_sql/llama_client.py
!agent_sql/config.py
!llama_serwer_info_endpoints.py
!llama_scanner.py
!agent_lg_pdf_search/
!agent_lg_pdf_search/config.py
!agent_lg_pdf_search/README.md