# Ignore everything...
*

# ...except these
!.gitignore
!README.md
!start_llama.bat
!.vscode/
!.vscode/launch.json
!agent_sql/
!agent_sql/__init__.py
!agent_sql/agent.py
!agent_sql/db.py
!agent_sql/tools.py
!agent_sql/llama_client.py
!agent_sql/config.py
!agent_lg_pdf_search/
!agent_lg_pdf_search/__init__.py
!agent_lg_pdf_search/config.py
!agent_lg_pdf_search/README.md
!agent_lg_pdf_search/index.py
!agent_lg_pdf_search/agent.py
!agent_lg_pdf_search/tools.py
!agent_lg_pdf_search/eval/
!agent_lg_pdf_search/eval/__init__.py
!agent_lg_pdf_search/eval/evaluate.py
!scanners/
!scanners/__init__.py
!scanners/llama_scanner.py
!scanners/llama_server_info_endpoints.py
!scanners/show_tokens.py
!scanners/server_info.py
!archive/
!archive/**
